ul.users {
  list-style-type: none;
  padding-left: 0px;
  margin-left: 0px;
}

ul.users li {
  padding-bottom: 20px;
  padding-top: 20px;
}

ul.users img {
  margin: 0 auto;
  display: block;
  width: 50px;
  border-radius: 50%;
  height: auto;
}

.brand {
  height: 20px;
  width: auto;
}

.issues {
  padding-top: 60px;
}

.navbar-inverse {
  border-color: #222;
}
